*{
    margin: 0;
    padding:0;
}

body,html{
    height:auto;
    width: 100%;
    background-color:#3d585c;
    padding-top: 25px;
}
/*
==================================
default eelements styles
==================================
*/
h1{font-size: 36px;font-family:Georgia;margin-bottom: 0}
p{font-size: 12px;font-family: Georgia;}
a{font-family: Georgia;font-size: 14px;}
a:hover{color: darkcyan;transition: 0.4s}
ul li{list-style: none}

/*
==================================
default property behavier
==================================
*/
.color-w{color:white;}
.color-g{color:#cccccc}
.color-mini-g{color: #666666}
.color-semi-g{color: #727272}
.color-br{color:#660000}
.bg-semi-b{background-color: #333333}
.bg-black{background-color: black}
.bg-gray{background-color: #cccccc}
.letter-space{letter-spacing:1.5px}
.font-weight-lighter{font-weight: lighter}
.margin-bottom{margin-bottom: 5px}
.margin-bottom-extra{margin-bottom: 15px}

/**
===============================================
content divs start right here
===============================================
 */

.search-form{height: 35px;
    width: 217px;
    background:rgba(48,70,73,0.5);
    color:white;
    border: 1px solid black;
    padding-left: 5px;}
.search-form-buttorn{width: 67px;height: 35px;background-color: #333333;color:white;border: none;font-size: 14px;font-family: Georgia;}
.search-form-buttorn:hover{background-color: black;color: #cccccc;transition: 0.2s}
.search-form-unit>input::placeholder{color: white;font-family: Georgia;font-size: 14px;letter-spacing: 1px}

.wrapper{background-color: #cccccc;margin-bottom: 35px}
.main-nav{background:linear-gradient(#000000,#333333);height: auto;height: auto;min-height: 50px;}
.main-nav button{color: white}
.main-nav ul li a{padding-left: 20px;font-weight: bold;font-size: 12px}
.main-nav ul li a:hover{color: #cccccc;text-decoration: none;transition: 0.4s}

.slider{width: 100%;height: 400px;background: url("../resources/jpg/slider.JPG");background-size:100% 100%; border-bottom: 15px solid black}

.student-info{padding: 25px;background-color: white;margin-bottom: 10px}
.student-info h5{margin-top: 10px;color:#660000;font-size: 18px;font-family: Georgia }

.other-contents{padding: 25px;text-align: center;background-color: white;margin-bottom: 10px;box-shadow: 0 2px 2px #666666}
.image-side{height: 90px; width: 210px;padding: 10px;box-shadow: 2px 2px 4px 2px #cccccc}
.img-news{height: 125px;min-width: 125px;width: 100%;padding: 5px;box-shadow: 2px 2px 4px 2px #cccccc}
.quick-links{padding: 25px}
.quick-links h5{padding-bottom: 10px;border-bottom: 2px solid #b8b7b7}
.quick-links ul li a{color: #660000}


footer{padding: 20px;padding-bottom: 15px}